<!DOCTYPE html5>

<html>
    <head>
        <title>wikidraw</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/wikidraw.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/raphael-min.js")" type="text/javascript"></script>
    </head>
    <body>
    	<div class="row-fluid">
			<div class="span6">
				<h4>edit</h4>
<textarea id="edit">
` 안녕하세요, prepare

* 안녕하세요, activity

( 안녕하세요, input

) 안녕하세요, output
</textarea>
		    </div>
			<div class="span6">
		    	<h4>preview</h4>
				<div id='preview'></div>
		    </div>
		</div>
		<div class="row-fluid">
<h4>github issues</h4>
<ul id='issues'>
</ul>
		</div>
		
		<script language="javascript">
var paper = Raphael('preview');
var unit = 15;
var arrowunit = 8;
var fontsize = 16;
var shapeY = 40

var prepare = prepare('안녕하세요, prepare')

var activity = activity('안녕하세요, activity')

var input = input('안녕하세요, input')

var output = output('안녕하세요, output')

arrow(prepare, activity)

arrow(activity, input)

arrow(input, output)

function arrow(src, tgt) { 
	var srcBBox = src.getBBox()
	var tgtBBox = tgt.getBBox()

	var startX = srcBBox.width / 2 + srcBBox.x
	var startY = srcBBox.y2
	var endX = startX
	var endY = tgtBBox.y
	var headX = endX - arrowunit
	var headX2 = endX + arrowunit
	var headY = endY - arrowunit
	
	var pathString = 'M' + startX + ',' + startY
	pathString += 'V' + endY
	pathString += 'L' + headX + ',' + headY
	pathString += 'L' + headX2 + ',' + headY
	pathString += 'L' + endX + ',' + endY	
	return paper.path(pathString)
}

function prepare(text) {
	var prepareText = paper.text(paper.width / 2, shapeY, text).attr({'font-size':fontsize})
	var prepareTextBBox = prepareText.getBBox()
	var x = prepareTextBBox.x
	var x2 = prepareTextBBox.x2
	var y = prepareTextBBox.y
	var y2 = prepareTextBBox.y2
	var ym = (y + y2) / 2
	shapeY += prepareTextBBox.height + (unit * 4)
	
	var pathString = 'M' + (x - unit) + ',' + (y - unit)
	pathString += 'H' + (x2 + unit)
	pathString += 'L' + (x2 + unit * 2) + ',' + (ym)
	pathString += 'L' + (x2 + unit) + ',' + (y2 + unit)
	pathString += 'H' + (x - unit)
	pathString += 'L' + (x - unit * 2) + ',' + (ym)
	pathString += 'L' + (x - unit) + ',' + (y - unit)

	return paper.path(pathString)
}

function activity(text) {
	var activityText = paper.text(paper.width / 2, shapeY, text).attr({'font-size':fontsize})
	var activityTextBBox = activityText.getBBox()
	var x = activityTextBBox.x
	var x2 = activityTextBBox.x2
	var y = activityTextBBox.y
	var y2 = activityTextBBox.y2
	shapeY += activityTextBBox.height + (unit * 4)
	
	return paper.rect((x-unit), (y-unit), (x2-x+(2*unit)), (y2-y+(2*unit)))
}

function input(text) {
	var activityText = paper.text(paper.width / 2, shapeY, text).attr({'font-size':fontsize})
	var activityTextBBox = activityText.getBBox()
	var x = activityTextBBox.x
	var x2 = activityTextBBox.x2
	var y = activityTextBBox.y
	var y2 = activityTextBBox.y2
	var ym = (y + y2) / 2
	shapeY += activityTextBBox.height + (unit * 4)
	
	var pathString = 'M' + (x - unit) + ',' + (y - unit)
	pathString += 'H' + (x2 + unit)
	pathString += 'L' + (x2 + unit * 2) + ',' + (ym)
	pathString += 'L' + (x2 + unit) + ',' + (y2 + unit)
	pathString += 'H' + (x - unit)
	pathString += 'V' + (y - unit)

	return paper.path(pathString)
}

function output(text) {
	var activityText = paper.text(paper.width / 2, shapeY, text).attr({'font-size':fontsize})
	var activityTextBBox = activityText.getBBox()
	var x = activityTextBBox.x
	var x2 = activityTextBBox.x2
	var y = activityTextBBox.y
	var y2 = activityTextBBox.y2
	var ym = (y + y2) / 2
	shapeY += activityTextBBox.height + (unit * 4)
	
	var pathString = 'M' + (x - unit) + ',' + (y - unit)
	pathString += 'H' + (x2 + unit)
	pathString += 'L' + (x2 + unit * 2) + ',' + (ym)
	pathString += 'L' + (x2 + unit) + ',' + (y2 + unit)
	pathString += 'H' + (x - unit)
	pathString += 'V' + (y - unit)

	return paper.path(pathString)
}
		</script>
		
		<script language="javascript">
		$.getJSON('githubIssues', function(issues) {
			for (var i=0; i<issues.length; i++) {
				var issue = issues[i]
				$('#issues').append('<li><a href="' + issue.html_url + '">' + issue.title + ' : ' + issue.body + '</a></li>')
			}
		});
		</script>
    </body>
</html>
